.wool_save {
	display: block; 
	position: absolute;
	right: 54px;
	top: 10px;
	z-index: 24;
}

.save_red {
	right: 74px;
}

.wool_redactor {
	right: 0;
	position: absolute;
	top: 7px;
	z-index: 25;
}

.wool_redactor a {
	vertical-align: -2px;
	margin: 0 2px;
}

.wool_save_link {
	display: block;
	width: 14px;
	height: 15px;
	background: url(../img/save.png) no-repeat;
}

.save_all {
	position: fixed;
	top: 100px;
	right: 20px;
}

#wrapper-checkbox {
    background-color: #F0F1F2;
    padding: 10px;
    min-width: 300px;
    position: fixed;
    top: 100px;
    right: 10px;
}

.check-action {
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px 10px 0;    
    color: #2B587A;
    cursor: pointer;
}

#checkboc-list {
    background-color: #f2f3f4;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 5px;
    max-height: 200px;
    min-height: 100px;
    overflow-y: auto;
}

#checkboc-list input {
    display: block;
    margin: 3px 5px 3px 0;
    float: left;
}

#checkboc-list label {
    width: 100%;
    display: block;
    margin: 5px 0;
}

.clear {
    clear: both;
}